.section {
  position: relative;
  background-image: url(../../public/assets/images/project-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  text-align: center;

  &__wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 9;
  }

  &__content {
    max-width: 811px;
    margin: 0 auto;
    padding: 190px 0 60px;
    color: $white;
  }

  &__span {
    display: block;
    margin-bottom: 15px;
    color: $white;
    font-size: 25px;
    line-height: 35px;
  }

  &__title {
    margin: 0 0 15px;
    color: $orange;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  &__description {
    margin: 0 0 36px;
    font-size: 16px;
    line-height: 28px;
    color: $white;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    color: $white;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    border-radius: 30px;
    min-width: 300px;
    height: 60px;
    box-shadow: inset 0px 0px 0px $black-gray;
    transition: all 0.5s !important;
  }
  &__btn:hover {
    background-color: transparent !important;
    box-shadow: inset 390px 0px 0px $black-gray;
  }
  @media (max-width: $desktopSupperWide) {
    height: 570px;
    &__content {
      padding: 125px 0;
    }
  }
}
.section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
