%btn,
.btn {
  @include lexend;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: rem(1px) solid $btn-color;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  min-width: rem(300px);
  height: rem(60px);
  outline: none;
  padding: rem(15px 30px);
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: $btn-color;
  color: $white;
  cursor: pointer;
  outline: 0;
  border-radius: 30px;

  &:active,
  &:hover {
    background-color: $black-gray;
    border-color: $black-gray;
    color: $white;
  }
}

button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  @include lexend;
  appearance: none;
  background-color: $silver;
  border-radius: 0;
  border: 0;
  box-shadow: inherit;
  box-sizing: border-box;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  padding: 13px 15px;
  transition: all .3s ease-in-out;
  width: 100%;
  letter-spacing: 0;
  cursor: pointer;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &::-moz-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:-moz-placeholder {
    color: lighten($text-color, 10%);
    opacity: 1;
  }

  &:focus {
    outline: 0 none;
  }

  &.error {
    border-color: $red;
    color: $red;

    &::-webkit-input-placeholder {
      color: $red;
    }

    &::-moz-placeholder {
      color: $red;
    }

    &:-ms-input-placeholder {
      color: $red;
    }

    &:-moz-placeholder {
      color: $red;
    }

    &:focus {
      box-shadow: 0 0 rem(5px) rgba($red, 1);
      outline: 0 none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

// Input style
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="hidden"] {
  @extend %form-text;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.number-wrap {
  overflow: hidden;
  width: 100%;

  input {
    width: calc(100% + 15px);
    padding-right: 25px !important;
  }
}

.form-textarea,
textarea {
  @extend %form-text;
  height: auto;
  min-height: rem(200px);
  padding: rem(15px 25px);
}

.form-item,
.form-actions {
  margin:rem(0 0 26px);

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-weight: 400;
  }
}

.form-search {
  display: flex;
  align-items: center;
}

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: rem(8px);
}

select {
  outline: none;
  box-shadow: none;
  padding: 13px 38px 16px 16px;
  font-size: 12px;
  text-align-last: center;
  color: $text-color;
  background: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCAyODggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iIzAwMCIgZD0iTTI2OC43NSAxODRjMCAyLTEgNC4yNS0yLjUgNS43NWwtMTE2LjUgMTE2LjVjLTEuNSAxLjUtMy43NSAyLjUtNS43NSAyLjVzLTQuMjUtMS01Ljc1LTIuNWwtMTE2LjUtMTE2LjVjLTEuNS0xLjUtMi41LTMuNzUtMi41LTUuNzVzMS00LjI1IDIuNS01Ljc1bDEyLjUtMTIuNWMxLjUtMS41IDMuNS0yLjUgNS43NS0yLjUgMiAwIDQuMjUgMSA1Ljc1IDIuNWw5OC4yNSA5OC4yNSA5OC4yNS05OC4yNWMxLjUtMS41IDMuNzUtMi41IDUuNzUtMi41czQuMjUgMSA1Ljc1IDIuNWwxMi41IDEyLjVjMS41IDEuNSAyLjUgMy43NSAyLjUgNS43NXoiPjwvcGF0aD4KPC9zdmc+Cg==') no-repeat scroll center right $white;
  background-size: 14px auto;
  background-position: calc(100% - 15px) center ;
  cursor: pointer;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "---";
  border: 0;
  border-radius: 0;
  font-family: 'Lexend', sans-serif;

  &::-ms-expand{
    display: none;
  }

  option {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: $blue;
  }
}

%invisible,
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem(1px);
  margin: rem(-1px);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem(1px);
}

input[type="checkbox"],
input[type="radio"] {
  @extend %invisible;

  + label{
    font-weight: 400;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 2px 0 2px 23px;
    font-size: 14px;
    letter-spacing: 0;
    color: $blue;

    &:focus,
    &:hover,
    &:active{
      border-color: $blue;
    }

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid $blue;
      margin-top: -6px;
      border-radius: 3px;
    }

    &:after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      transition: opacity .3s ease;
      left: 0;
    }

    &.reverse:before {
      @media only screen and (max-width: 767px) {
        left: inherit;
        right: 0;
      }
    }

    &.reverse:after {
      @media only screen and (max-width: 767px) {
        left: inherit;
        right: 0;
      }
    }
  }

  &:checked {
    & + label {
      &:before {
        border-color: $primary-color;
      }
    }
  }
}

// Checkbox and radio button.
input[type="radio"] {
  + label {
    &:before {
      border-radius: 50%;
      margin-top: -6px;
    }

    &:after {
      left: 1px;
      top: 50%;
    }
  }

  &:checked {
    & + label {
      &:after {
        width: 10px;
        height: 10px;
        opacity: 1;
        background: $blue;
        border-radius: 100%;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    & + label {
      &:before {
        border-color: $blue;
      }

      &:after {
        opacity: 1;
        @extend %icons;
        content: "\e908";
        color: $blue;
        font-size: 18px;
      }
    }
  }
}

// Contact form 7.
.wpcf7-validation-errors,
.wpcf7-acceptance-missing,
.div.wpcf7-mail-sent-ok,
.wpcf7-display-none {
  display: none !important;
}
