// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }
}
.light-black {
  color: #323232;
}
.title-gradient {
  background: -webkit-linear-gradient(45deg, #fea628, #76187e 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Active item
.active{
  display: block !important;
}
