// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

// Color Variable
$black: #000;
$black-olive: #323232;
$black-gray: #2f3b47;
$white: #fff;
$silver: #ccc;
$blue: #0bc3f7;
$darkblue: #0781b4;
$lightblue: #0bc3f7;
$red: #c41820;
$orange: #fea628;

$pigeon-post: #aec9de;
$green: #81c904;
$lava: #cc1b25;
$pigeon-post-light: rgba($pigeon-post, 0.75);
$lightBlue: #4586c4;
$darkBlue: #0d508b;

// Gray
$gray: #808080;
$bg-gray: #e6e6e7;

// Red
$red: #8c1515;

// Blue
$blue-powder: #c4d7e0;
$blue-sky: #04649c;
$sapphire-blue: #04649c;

// Brand colors
$primary-color: $orange;
$text-color: $black;

// Link color
$link-color: $primary-color;
$link-color-hover: lighten($primary-color, 25%);

// Button color
$btn-color: $primary-color;
$btn-color-hover: lighten($primary-color, 25%);

// ------------------------------------------------------------
// Breakpoint Variable

// Mobile
$mobileOnly: 767px;
$mobilePortraitOnly: 479px;
$mobilePortrait: 360px;
$mobileLandScape: 480px;

// Tablet
$tablet: 768px;
$tabletOnly: 992px;

// Desktop
$tablet: 768px;
$desktop: 1024px;
$desktopWide: 1280px;
$desktopWideLarge: 1366px;
$desktopSupperWide: 1440px;
$desktopSupperWideLarge: 1920px;

// ------------------------------------------------------------
// Font Variable

$base-font-size: 16px;
$base-line-height: 1.4;
